<div class="menu">
  <a href="/trips">Home</a>
  <a href="/addtrip">Add New Trip</a>
  <form action="/signout" method="POST">
    <button type="submit" value="signout">Sign Out</button>
  </form>
</div>
