<html>
  <head>
  </head>
  <body>
    {{> menu}}
    <h2>Hello {{username}}!</h2>
    <h3>Here is a list of your current trips:</h3>
    <ul>
      {{#trips}}
      <li>
        <img src={{image}}></img>
        <h4>{{destination}}</h4>
        <p>{{departure}} - {{return}}</p>
        <form action="/deletetrip" method="POST">
          <input type="hidden" value={{tripID}} name="tripID" />
          <button type="submit" value="Delete">Delete</button>
        </form>
      </li>
      {{/trips}}

      {{^trips}}
        <p>Sorry no trips found.</p>
      {{/trips}}
    </ul>
  </body>
</html>
